<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Blood Donation Management System</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <!-- Bootstrap -->
    <link href="@Url.Content("/css/bootstrap.css")" rel="stylesheet">
    <link href="@Url.Content("/css/modern-business.css")" rel="stylesheet">
    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="fonts/font-awesome/css/font-awesome.css">
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">


    <style>
        img {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
    </style>


    <style>
        body {
            font-family: "Lato", sans-serif;
        }

        .sidenav {
            height: 100%;
            width: 0;
            position: fixed;
            z-index: 1;
            top: 0;
            left: 0;
            background-color: #111;
            overflow-x: hidden;
            transition: 0.5s;
            padding-top: 60px;
        }

            .sidenav a {
                padding: 8px 8px 8px 32px;
                text-decoration: none;
                font-size: 25px;
                color: #818181;
                display: block;
                transition: 0.3s;
            }

                .sidenav a:hover {
                    color: #f1f1f1;
                }

            .sidenav .closebtn {
                position: absolute;
                top: 0;
                right: 25px;
                font-size: 36px;
                margin-left: 50px;
            }
        }
    </style>




    <div class="w3-content w3-section" style="max-width:1700px">
        <centre>

            <img class="mySlides w3-animate-fading" src="../images/0122.jpg" style="width:100%" />
            <img class="mySlides w3-animate-fading" src="../images/45.jpg" style="width:100%" />
            <img class="mySlides w3-animate-fading" src="../images/Slide10.jpg" style="width:100%">
            <img class="mySlides w3-animate-fading" src="../images/89.jpg" style="width:100%">

        </centre>
    </div>

    <script>
        var myIndex = 0;
        carousel();

        function carousel() {
            var i;
            var x = document.getElementsByClassName("mySlides");
            for (i = 0; i < x.length; i++) {
                x[i].style.display = "none";
            }
            myIndex++;
            if (myIndex > x.length) { myIndex = 1 }
            x[myIndex - 1].style.display = "block";
            setTimeout(carousel, 9000);
        }
    </script>




</head>
<body>
    <img src="../images/admin1.png" style="width:5%;" />
    <h2 align="center">Admin</h2>
    <div class="section">
        <div class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">

                        <li><h3>Blood Donation Management System </h3></li>
                    </ul>
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </div>





        <div id="mySidenav" class="sidenav">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <a>@Html.ActionLink("Home", "Index", "Home")</a>
            <a>@Html.ActionLink("Donors", "Index", "Home")</a>
            <a>@Html.ActionLink("Blood Requests", "Index", "Home")</a>
            <a>@Html.ActionLink("Approved Requests", "Index", "Home")</a>
        </div>
        <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776;Dashboard</span>

        <script>
            function openNav() {
                document.getElementById("mySidenav").style.width = "250px";
            }

            function closeNav() {
                document.getElementById("mySidenav").style.width = "0";
            }
        </script>





        <div class="container body-content">
            @RenderBody()

        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <script src="@Url.Content("/js/bootstrap.js")"></script>
        <script src="@Url.Content("/js/modern-business.js")"></script>
        @RenderSection("scripts", required: false)
        @Scripts.Render("~/bundles/jqueryui")
        @Styles.Render("~/Content/cssjqryUi")


</body>
</html>