@model WebApplication6.RegisteredUser

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Donor</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.LabelFor(model => model.R_ID, "ID")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.R_ID)
        </dd>

        <dt>
            @Html.LabelFor(model => model.R_Email, "Email")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.R_Email)
        </dd>

        <dt>
            @Html.LabelFor(model => model.R_Name, "Name")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.R_Name)
        </dd>

        <dt>
            @Html.LabelFor(model => model.R_Gender, "Gender")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.R_Gender)
        </dd>


        <dt>
            @Html.LabelFor(model => model.R_Contact, "Contact")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.R_Contact)
        </dd>

        <dt>
            @Html.LabelFor(model => model.R_City, "City")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.R_City)
        </dd>

        <dt>
            @Html.LabelFor(model => model.R_BloodGroup, "Blood Group")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.R_BloodGroup)
        </dd>

        <dt>
            @Html.LabelFor(model => model.R_Dateofbirth, "Date of Birth")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.R_Dateofbirth)
        </dd>

        <dt>
            @Html.LabelFor(model => model.R_Address, "Address")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.R_Address)
        </dd>

        <dt>
                Can Donate
        </dt>
        <dd>
                <label class="Label_Success">@ViewBag.Message</label>

        </dd>


    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
