@{
    ViewBag.Title = "Home Page";
}


<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">

<!-- Favicons
    ================================================== -->
<link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
<link rel="apple-touch-icon" href="img/apple-touch-icon.png">
<link rel="apple-touch-icon" sizes="72x72" href="img/apple-touch-icon-72x72.png">
<link rel="apple-touch-icon" sizes="114x114" href="img/apple-touch-icon-114x114.png">

<!-- Bootstrap -->
<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="fonts/font-awesome/css/font-awesome.css">


<!-- Stylesheet
    ================================================== -->
<link rel="stylesheet" type="text/css" href="css/style.css">
<link rel="stylesheet" type="text/css" href="css/nivo-lightbox/nivo-lightbox.css">
<link rel="stylesheet" type="text/css" href="css/nivo-lightbox/default.css">
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700,800,900" rel="stylesheet">



<!-- Header -->
<head>
    

    <title>W3.CSS</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <body>

        <div class="w3-content w3-section" style="max-width:1700px" >
            <centre>
                <h1>BLOOD DONATION MANAGEMENT SYSTEM</h1>
            </centre>
            <img class="mySlides w3-animate-fading" src="../images/0122.jpg" style="width:100%" />
            <img class="mySlides w3-animate-fading" src="../images/45.jpg" style="width:100%" />
            <img class="mySlides w3-animate-fading" src="../images/Slide10.jpg" style="width:100%">
            <img class="mySlides w3-animate-fading" src="../images/89.jpg" style="width:100%">
        </div>

        <script>
            var myIndex = 0;
            carousel();

            function carousel() {
                var i;
                var x = document.getElementsByClassName("mySlides");
                for (i = 0; i < x.length; i++) {
                    x[i].style.display = "none";
                }
                myIndex++;
                if (myIndex > x.length) { myIndex = 1 }
                x[myIndex - 1].style.display = "block";
                setTimeout(carousel, 9000);
            }
        </script>
    </body>

</head>












        <div class="section">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-4">
                        <h3><i class="fa fa-check-circle"></i> Blood Group Details</h3>
                        <p>Blood types are very important when a blood transfusion is necessary. In a blood transfusion, a patient must receive a blood type compatible with his or her own blood type. If the blood types are not compatible, red blood cells will clump together, making clots that can block blood vessels and cause death.</p>
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <h3><i class="fa fa-pencil"></i> World Blood Donors Day</h3>
                        <p>Every year on 14 June, countries around the world celebrate World Blood Donor Day (WBDD). The event, established in 2004, serves to raise awareness of the need for safe blood and blood products, and to thank blood donors for their voluntary, life-saving gifts of blood.</p>
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <h3><i class="fa fa-folder-open"></i>Safety Measures</h3>
                        <p>To minimize the chance of an adverse reaction during a transfusion. Usually a few days beforehand, the patient is cross-matched with the donor blood.After double-checking labels on the bags of blood that are about to be given to ensure the units are intended for that recipient, then gives the blood to the recipient slowly. </p>
                    </div>
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container -->
        </div>
        <hr />
        <div class="section">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h2>Donation Related Quotes</h2>
                        <hr>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6">

                        <img class="img-responsive img-home-portfolio" src="../images/Untitled-1.jpg">

                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6">

                        <img class="img-responsive img-home-portfolio" src="../images/3.jpg">

                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6">

                        <img class="img-responsive img-home-portfolio" src="../images/999.jpg">

                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6">

                        <img class="img-responsive img-home-portfolio" src="../Images/54.jpg">

                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6">

                        <img class="img-responsive img-home-portfolio" src="../Images/63.jpg">

                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6">

                        <img class="img-responsive img-home-portfolio" src="../Images/369.jpg">

                    </div>
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container -->
        </div>








        <hr />
        <!-- Features Section -->



       
        <!-- Contact Section -->

        <div id="contact">
            <div class="container">
                <div class="col-md-8">
                    <div class="row">
                        <div class="section-title">
                            <h2>Get In Touch</h2>
                            <p>Please fill out the form below to send us an email and we will get back to you as soon as possible.</p>
                        </div>
                        @model WebApplication6.Models.Feedback

                        @{
                            ViewBag.Title = "Create";
                        }

                        <h2></h2>


                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()

                            <div class="form-horizontal">
                                <h4>Feedback</h4>
                                <hr />
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.Message, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.Message, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Message, "", new { @class = "text-danger" })
                                    </div>
                                </div>



                                <div class="form-group">
                                    <div class="col-md-offset-2 col-md-10">
                                        <input type="submit" value="Submit" class="btn btn-default" />
                                    </div>
                                </div>
                            </div>
                        }

                        <div>
                            @Html.ActionLink("Back to List", "Index", "Feedbacks")
                        </div>
                        <hr/>

                        @section Scripts {
                            @Scripts.Render("~/bundles/jqueryval")
                        }

                    </div>
                </div>
                <div class="col-md-3 col-md-offset-1 contact-info">
                    <div class="contact-item">
                        <h3>Contact Info</h3>
                        <p>
                            <span><i class="fa fa-map-marker"></i> Address</span>4321 California St,<br>
                            San Francisco, CA 12345
                        </p>
                    </div>
                    <div class="contact-item">
                        <p><span><i class="fa fa-phone"></i> Phone</span> +1 123 456 1234</p>
                    </div>
                    <div class="contact-item">
                        <p><span><i class="fa fa-envelope-o"></i> Email</span> info@company.com</p>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="row">
                        <div class="social">
                            <ul>
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script type="text/javascript" src="js/jquery.1.11.1.js"></script>
        <script type="text/javascript" src="js/bootstrap.js"></script>
        <script type="text/javascript" src="js/SmoothScroll.js"></script>
        <script type="text/javascript" src="js/nivo-lightbox.js"></script>
        <script type="text/javascript" src="js/jqBootstrapValidation.js"></script>
        <script type="text/javascript" src="js/contact_me.js"></script>
        <script type="text/javascript" src="js/main.js"></script>
